.contenedor{
    width: 100%;
}
.caja1{
    width: 900px;
    height: 300px;
    margin: auto;
    background-color: blueviolet;
}
.caja2{
    width: 90%;
    height: 20vh;
    background-color: rgb(201, 172, 228);
    margin: auto;
}
.caja3{
    width: 100%;
    background-color: rgb(199, 241, 241);
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.caja4{
    background-color: blue;
    width: 30%;
    height: 10%;
}
.img1{
    width: 10%;
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}
.img2{
    width: 10%;
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
}
@media(max-width:1024px){
    .caja2{
        background-color: black;
    }
    .img1{
        display: block;
    }
    .img2{
        display: none;
    }
}
@media(max-width:600px){
    .caja2{
        background-color: rgb(221, 53, 53);
    }
    .caja3{
        flex-direction: column;
    }

}