@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Sixtyfour&display=swap');
/* mato margenes que da el navegador por default */
*{
    margin:0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

header{
    width: 100%;
    height: 70vh;
    
}
.menu{
    width:100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
    margin-right: 20px;
}
.li{
    color: blue;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15px;
}
.li:hover{
    color: #fff;
    border: solid 1px blue;
    background-color: blue;

}


.menu p{
    color: blue;
    font-size: 2em;
    font-family: 'Sixtyfour', sans-serif;
}
.fondo{
    width: 100%;
    height: 60vh;
    background: url("../img/pexels-thisisengineering-3861969.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.texto{
    font-size: 2em;
    text-shadow: 0 0 5px yellow;
    text-align: center;

}
.texto h1{
    letter-spacing: .2em;
}
/* diseño del boton */
.boton{
    color: #fff;
    text-decoration: none;
    background-color: blue;
    padding: 0 10px;
    border-radius: 20px;
}
.boton:hover{
    background-color: rgba(0, 0, 255, 0.355);
}

/* termina header comienza main */



#conocimientos{
    width: 100%;
    height: 70vh;
    background-color: blue;
}
#contacto{
    width: 100%;
    height: 50vh;
    background-color: blueviolet;
}
/* escondemos menu de hamburguesa */
.hamburguesa{
    display: none;
}

/* comienza seccion acerca de  */

#acerca{
    width: 100%;
    height: 70vh;
}
.fotoytexto{
    width: 90%;
    height: 60vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.fotoytexto div{
    width: 30%;
    height: 60vh;
    margin: auto;
}
.fotoytexto img{
    width: 100%;
}
h2{
    text-align: center;
    font-size: 2em;
}

/* --------------------------------------------------------------------------------------- */
/* AQUI COMIENZA DISEÑO RESPONSIVO */
/* ----------------------------------------------------------------------------------------- */

@media(max-width:900px){
    nav{
        display: none;
    }
    .hamburguesa{
        display: block;
        width: 100px;
    }
    .menu p{
        font-size: 3em;
    }
    header{
        height: 100vh;
    }
    .menu{
        height: 20vh;
    }
    .fondo{
        height: 80vh;
    }
    .texto{
        font-size: 1.2em;
    }


}
