@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Sixtyfour&display=swap');
/* mato margenes que da el navegador por default */
*{
    margin:0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

header{
    width: 100%;
    height: 70vh;
    
}
.menu{
    width:100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
    margin-right: 20px;
}
.li{
    color: blue;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15px;
}
.li:hover{
    color: #fff;
    border: solid 1px blue;
    background-color: blue;

}


.menu p{
    color: blue;
    font-size: 2em;
    font-family: 'Sixtyfour', sans-serif;
}
.fondo{
    width: 100%;
    height: 60vh;
    background: url("../img/pexels-thisisengineering-3861969.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.texto{
    font-size: 2em;
    text-shadow: 0 0 5px yellow;
    text-align: center;

}
.texto h1{
    letter-spacing: .2em;
}
/* diseño del boton */
.boton{
    color: #fff;
    text-decoration: none;
    background-color: blue;
    padding: 0 10px;
    border-radius: 20px;
}
.boton:hover{
    background-color: rgba(0, 0, 255, 0.355);
}

/* termina header comienza main */





/* escondemos menu de hamburguesa */
.hamburguesa{
    display: none;
}

/* comienza seccion acerca de  */

#acerca{
    width: 100%;
    height: 70vh;
}
.fotoytexto{
    width: 90%;
    height: 60vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.fotoytexto div{
    width: 30%;
    height: 60vh;
    margin: auto;
}
.fotoytexto img{
    width: 100%;
}
h2{
    text-align: center;
    font-size: 2em;
}

/* conocimientos*/

#conocimientos{
    width: 100%;
    height: 70vh;
}
.cajatalleres{
    width: 80%;
    height: 60vh;
    margin: auto;
    display: flex;
}
.talleres{
    width: 30%;
    margin: auto;
    height:55vh;
    text-align: center;
    box-shadow: 0 0 5px black;
    border-radius: 15px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.talleres:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}


              

              


.talleres img{
    width: 50%;
}
 .container {
    position: relative;
    background: #4882bd;
    height: 20vh;
    margin-bottom: 50px;
  }
  
  .wave {
    position: absolute;
    height: 92px;
    width: 100%;
    background: #4882bd;
    bottom: 0;
  }
  
  .wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
  }
  
  .wave::before {
    width: 55%;
    height: 109%;
    background-color: #fff;
    right: -1.5%;
    top: 60%;
  }
  .wave::after {
    width: 55%;
    height: 100%;
    background-color: #4882bd;
    left: -1.5%;
    top: 40%;
  } 

/* seccion separador */
.separador{
    width: 100%;
    height: 40vh;
    background: url(../img/informatica-e1575679570321.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separador p{
        background-color: rgba(0, 0, 255, 0.429);
        color: #fff;
        padding: 20px;
        font-size: 2em;
        text-shadow: 0 0 15px yellow;

    }
/* icono whatsapp */
.whats{
    position: fixed;
    bottom:0;
    right: 0;
}

/* seccion contacto */
#contacto{
    width: 100%;
    height: 50vh;
    
}
.contenedorcontacto{
    width: 70%;
    height: 40vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.contact{
    width: 40%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact img{
    width: 60%;
}
input{
    font-size: 1.5em;
    margin-bottom: 10px;
    border:none;
    border-bottom: solid 2px blue;
}

/* footer */
footer{
    width: 100%;
    height: 20vh;
    display: flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
}
.redes{
    width: 20%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes img{
    margin-right: 15px;
}
.redes p{
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
}

/* seudoelementos de la barra de desplazamiento */

::-webkit-scrollbar{
    width: 15px;
    background-color: pink;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #4882bd;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);

}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: linear-gradient(rgba(255, 0, 221, 0.466),rgba(255, 0, 0, 0.459));
}

/* menu desplegable */
#menu_desplegable{
    display: none;
}

/* aviso de privacidad */

.aviso {
    position: relative;
    display: inline-block;
    cursor: default;
  }

.aviso1{
    display: none;
    font-size: .8em;
    width: 300px;
    border: solid 2px black;
    background-color:  rgba(0, 0, 0, 0.568);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    left: 1px;
}

.aviso:hover .aviso1{
    display: block;
    transition-delay: 3s;

}

/* DISEÑO DE PAGINAS SECUNDARIAS */
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.galeria{
    display: flex;
    gap:1rem;
    max-width:150rem;
}
.card{
    position: relative;
    left: 0px;
    width: 6rem;
    border-radius: 1.2rem;
    height: 20rem;
    overflow: hidden;
    transition: .5s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.287);
    flex: 0.25;
}

.card img{
    flex: 2;
    height: 20rem;
    object-fit: cover;

}

.card:hover{
    flex: 2;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
}



/* --------------------------------------------------------------------------------------- */
/* AQUI COMIENZA DISEÑO RESPONSIVO */
/* ----------------------------------------------------------------------------------------- */

@media(max-width:900px){
    nav{
        display: none;
        position: absolute;
        top:50px;
        right: 100px;
    }

    input:checked ~ nav,ul,li{
        display: block;
        background-color: blue;
        display: flex;
        align-items: center;
        font-size: 1.3em;
        padding: 10px;
        flex-direction: column;
        box-shadow: 0 0 5px black;
        color: #fff;
        border-radius: 20px;
    }
    .hamburguesa{
        display: block;
        width: 100px;
    }
    .menu p{
        font-size: 3em;
    }
    header{
        height: 100vh;
    }
    .menu{
        height: 20vh;
    }
    .fondo{
        height: 80vh;
    }
    .texto{
        font-size: 1.2em;
    }


    /* seccion acerca de */
    #acerca{
        height: 100vh;
    }
    .fotoytexto{
        height: 100vh;
        width: 95%;
        margin: auto;
        flex-direction: column;
    }
    .fotoytexto div{
        width: 80%;
        height: 90vh;
        margin: auto;
        text-align: justify;
    }

    /* seccion conocimientos */
    #conocimientos{
        height: 130vh;
    }
    .cajatalleres{
        width: 90%;
        height: 120vh;
        flex-direction: column;
    }
    .talleres{
        width: 100%;
        height: 39vh;
        margin-bottom: 15px;
        }
    .talleres img{
        width: 30%;
        height: 15vh;
    }
    /* seccion separador */
    .separador p{
        font-size: .8em;
    }
    .separador{
        height: 20vh;
    }
    /* oculto agenda */
    .agenda{
        display: none;
    }
    .contact{
        width: 100%;
    }
    footer{
        height: 40vh;
        flex-direction: column;
    }
}
