@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Protest+Revolution&display=swap');


/* primera sentencia */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* marcamos contenedores */
header{
    width: 100%;
    height: 70vh;
}
main{
    width: 100%;
    height: 180vh;
}
footer{
    width: 100%;
    height: 30vh;
    background-color: blue;
}

/* barra de menú */
nav{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav li{
    list-style-type: none;
    margin-right: 20px;
    font-size: 2em;
}
nav a{
    color: black;
    text-decoration: none;
    padding: 0 10px;
}
nav a:hover{
   
    background-color: blue;
    border-radius: 10px;
    color: #fff;
}

nav p{
    font-family: 'Protest Revolution', sans-serif;
    font-size: 2em;
}
/* imagen de fondo */
.fondo{
    background: url("../img/pexels-donald-tong-23475.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 3em;
    text-shadow: 0 0 5px #e9d02e;
    color: #fff;
}

span{
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(138, 138, 233);
}



nav img{
    display: none;
}

/* seccion acerca de */

#acerca{
    width: 100%;
    height: 50vh;
}


.contenedor{
    width: 80%;
    height: 45vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.contenedor div{
    width: 30%;
    height: 45vh;
    text-align: justify;
    font-weight: bold;
    display: flex;
    align-items: center;
}
h2{
    text-align: center;
    font-size: 2em;
}
.contenedor img{
    width: 100%;
    height:40vh;

}


/* estilos del icono whatsapp */
.whats{
    position: fixed;
    right: 10px;
    bottom:10px;
}

/* estilos del separador */
.curved {
    position: relative;
    background: blue;
    height: 20vh;
    border-bottom-left-radius: 50% 42%;
    border-bottom-right-radius: 50% 42%;
  }


  /* seccion talleres */
  #talleres{
    width: 100%;
    height: 60vh;
   
}
  .talleres{
    width: 70%;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }

  .taller{
    width: 30%;
    height: 50vh;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    text-align: center;
    transition: .5s, color .10s;
  }
 .taller img{
    width: 50%;
    height: 20vh;
    margin-top: -30px;
 }
 .taller:hover{ 
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
 }

 /* seccion contacto */
 #contacto{
    width: 100%;
    height: 50vh;  
}
.contacto{
    width: 70%;
    height: 43vh;
    margin: auto;
    display: flex;
}
.formulario{
    width: 50%;
    height: 43vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.formulario img{
    width: 100%;
}
.formulario input{
    font-size: 1.5rem;
    border: none;
    border-bottom: 2px solid blue;
    margin-bottom: 10px;
}

.boton{
    padding: 3px 10px;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
}

/* ------------------------------------- */
/* DISEÑO RESPONSIVO */
/* -------------------------------------- */

@media(max-width:600px){
    header{
        height: 90vh;
    }
    nav ul{
        display: none;
    }
    nav img{
        display: block;
    }
    nav p{
        font-size: 3em;
    }
    .fondo{
        height: 75vh;
    }
    h1{
        text-align: center;
        font-size: 2.5em;
    }

    main{
        height: 350vh;
    }

    /* seccion acerca */
    .contenedor{
        flex-direction: column;
        height: 55vh;
    }
    .contenedor div{
        width: 100%;
        height: 55vh;
    }
    #acerca{
        height: 70vh;
    }
    /* seccion talleres */
    #talleres{
        height: 210vh;
    }
    .talleres{
        height: 210vh;
        flex-direction: column;
    }
    .taller{
        width: 100%;

    }
    /* estilos de contacto */
    .agenda{
        display: none;
    }
    .formulario{
        width: 100%;
    }

}
