@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
header{
    width: 100%;
    height: 20vh;
}
main{
    width: 100%;
    height: 300vh;
}
footer{
    width: 100%;
    height: 30vh;
    background-color: blueviolet;
}
.titulo{
    width: 100%;
    height: 15vh;
    display: flex;
}
nav{
    width: 100%;
    height: 5vh;
}
.caja{
    width: 33%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 4em;
    color: rgb(87, 69, 32);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}
.caja input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: rgb(63, 47, 15);
    padding: 3px;
}
.buscar{
    background-color: rgb(198, 195, 195);
}
nav ul{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: end;
    justify-content: space-around;
    background-color: rgb(197, 149, 53);
}
nav li{
    list-style-type: none;
    color: #fff;
}
section{
    width: 100%;
    height: 60vh;
    border: dotted;

}
.seccion1{
    background: url(../img/portada.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h2{
    width: 70%;
}
.texto1{
    font-size:2em;
}
.texto2{
    font-size: .8em;
    font-style: italic;
}
.contenedor{
    width: 90%;
    height: 57vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.seccion2{
    height: 80vh;
}
.libro{
    width: 20%;
    height: 75vh;
    text-align: center;
}
.libro img{
    width: 90%;
    height: 50vh;
}
.libro h4{
    font-size: 1.3em;
}
.libro button{
    background-color: red;
    color: #fff;
    padding: 2px 15px;
}
h3{
    color: red;
}
